# Python build artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
dist/
.cache/
.mypy_cache/
.pytest_cache/
coverage.*
htmlcov/
site/

# Virtual environments
venv/
.venv/

# Logs
*.log

# Editor & OS files
.vscode/
.idea/
*.code-workspace
*.DS_Store
*.swp
*.swo

# Git
.git/
.gitignore
